:root {
  --color-grey-900: #141414;
  --color-grey-800: #1F1F1F;
  --color-grey-700: #333333;
  --color-green: #C4F82A;
  --color-white: #FFFFFF;
  --spacing-500: 4rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
  --spacing-50: 0.4rem;
}