footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 6rem;
  background-color: var(--color-grey-700);
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution {
  font-size: 1.1rem; text-align: center;
}
.attribution a {
  color: #c2c0c0;
}