@use '../base/variables.scss' as *;
@use '../base/mixins.scss' as *;

.social-links-profile {
  width: clamp(32.7rem, 87%, 38.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  padding: var(--spacing-500);
  margin: 5rem auto;
  border-radius: 1.2rem;
  background: var(--color-grey-800);
  text-align: center;
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-avatar {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: var(--spacing-300);
}
.title {
  @include text-fz24;
  margin-bottom: var(--spacing-50);
}
.address {
  @include text-fz14;
  font-weight: 700;
  margin-bottom: var(--spacing-300);
  color: var(--color-green);
  font-style: normal;
}
.occupation {
  @include text-fz14;
}
.social-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}
